<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <provider
                android:name="de.julianh.flutter_system_integration.ApkFileProvider"
                android:authorities="${applicationId}.flutter_system_integration.apkprovider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/flutter_system_integration_apk_paths"/>
        </provider>
    </application>
</manifest>
